# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
*.DS_Store
*.idea
*Runtime

mysql/*/data
redis/*/data

www/*
!www/index.php
!www/test.html
!www/test/

!*.gitkeep

.env
php/composer/*
!php/composer/.gitkeep
