######################### common ########################
source_dir=./www
tz=Asia/Shanghai

######################### nginx ########################
nginx_version=1.16
nginx_log=./log/nginx
nginx_conf=./conf/nginx

######################### php ########################
php_version=7.3
php_log=./log/php
php_conf=./conf/php
php_redis_version=4.3.0

######################### mysql ########################
mysql_version=8.0
mysql_log=./log/mysql
mysql_conf=./conf/mysql
mysql_data=./mysql/8.0/data
mysql_password=123456
###### mysql 8.0 使用这个 ######
mysql_cmd='--default-authentication-plugin=mysql_native_password'
###### mysql 5.7 使用这个 ######
# mysql_cmd='mysqld --character-set-server=utf8'

######################### redis ########################
redis_version=5.0
redis_log=./log/redis
redis_conf=./conf/redis
redis_data=./redis/5.0/data
redis_password=123456
